@import url('https://www.w3schools.com/w3css/4/w3.css');
.cool-h1 {
    text-align: center;
    right: 0%;
    top: 5px;
    color: #000000;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid #747C7A;
    padding: 10px;
}

.right-div{
    margin: auto;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 25%;
    border: 3px solid #747C7A;
}

.left-div{
    margin: auto;
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
    width: 25%;
    border: 3px solid #747C7A;
    padding: 10px;
}

.delete-button {
    position: relative;
    float: right;
    top: -60px;
    height: 35px;
    background-color: #f44336;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 120px;
}

.add-button {
    position: fixed;
    background-color: #4CAF50;
    bottom: 0px;
    right: 0px;
    border: none;
    color: white;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 35px;
}

.small-br {
    size: 5px;
}