.textColor {
    position:relative;
    right: 0%;
    top: -40px;
    color: #000000;
}


.center {
    margin: auto;
    width: 50%;
    border: 3px solid #747C7A;
    padding: 10px;
}

.display-block {
    display: block;
    
}

.delete-button {
    position:relative;
    right: -70%;
    top: -60px;
    height: 35px;
    background-color: #f44336;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.add-button {
    position:relative;
    right: -88.3%;
    top: 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 35px;
}

.small-br {
    size: 5px;
}